<!DOCTYPE html>
{% load static %}

<html lang="fr">
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <title>Animalerie</title>
    </head>
    <body>
        <div class="header darkgrey">
            <span class="h1"><a class="text-white" href="{% url 'animal_list' %}">Animalerie</a></span>
            {% if message %}
                <div class="alert alert-{{ type }} alert-dismissible fade show align-right" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>

</html>